<head>
  <title>simple-todos</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        {{> todosList}}
      </div>
    </div>
  </div>  
</body>

<template name="todosList">
    <h3>Todos</h3>
    {{#autoForm id="todo-form" collection="Todos" type="insert"}}
        {{>afQuickField name="label"}}
    {{/autoForm}}
    <button id="reverse-sort" class="btn btn-default">Reverse sort</button>
    <ul>
      {{#each todos}}
        {{> todo}}
      {{/each}}
    </ul>
</template>

<template name="todo">
  <li class="{{#if done}}done{{/if}}"><input type="checkbox" checked="{{#if done}}checked{{/if}}" />{{label}} <button class="delete">X</button></li>
</template>